.vscode
.marscode
.claude
.DS_Store
Rime/user.yaml
Rime/*.userdb
Rime/*.userdb/*
Rime/easy_en.userdb
Rime/luna_pinyin.userdb
Rime/easy_en.userdb/*
Rime/luna_pinyin.userdb/*
Rime/installation.yaml
Rime/trash



config/btop/btop.conf
config/tmux/plugins
config/yazi/plugins

clipse-gui.log
linux/niri/monitor.kdl
config/uv/uv-receipt.json
tmux/plugins
btop/btop.conf
config/zed/prompts/prompts-library-db.0.mdb/data.mdb
config/zed/prompts/prompts-library-db.0.mdb/lock.mdb


/config/fish/completions/docker.fish
/config/fish/completions/kubectl.fish
/config/fish/completions/orbctl.fish
lazy-lock.json
nvim-pack-lock.json
nvim.log
