.vscode
.marscode
.claude
Rime/user.yaml
Rime/*.userdb
Rime/*.userdb/*
Rime/easy_en.userdb
Rime/luna_pinyin.userdb
Rime/easy_en.userdb/*
Rime/luna_pinyin.userdb/*
Rime/installation.yaml



config/btop/btop.conf
config/tmux/plugins
config/yazi/plugins

clipse-gui.log
linux/niri/monitor.kdl
config/uv/uv-receipt.json
tmux/plugins
btop/btop.conf
zed/prompts/prompts-library-db.0.mdb/data.mdb
zed/prompts/prompts-library-db.0.mdb/lock.mdb

