layout {
    background-color "transparent"

    focus-ring {
        active-color   "#4fe88f"
        inactive-color "#6c7086"
        urgent-color   "#ff5ef1"
    }

    border {
        active-color   "#4fe88f"
        inactive-color "#6c7086"
        urgent-color   "#ff5ef1"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4fe88f"
        inactive-color "#6c7086"
        urgent-color   "#ff5ef1"
    }

    insert-hint {
        color "#4fe88f80"
    }
}

recent-windows {
    highlight {
        active-color   "#2f5f36"
        urgent-color   "#ff5ef1"
    }
}
