// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction
config-notification {
    disable-failed
}

include "monitor.kdl"
// 创建monitor.kdl文件， 文件内容如下
// output "HDMI-0" {
//     // 取消注释以禁用此显示器。
//     // off
//
//     // 默认聚焦在这个显示器
//     focus-at-startup
//
//     // 格式为"<width>x<height>" 或者 "<width>x<height>@<refresh rate>".
//     // 如果省略了刷新率，niri将为分辨率选择最高的刷新率。
//     mode "3840x2160@60.000"
//
//     // 您可以使用整数或分数量表，例如，比例为150％。
//     scale 1.5
//
//     // transform允许逆时针旋转显示，有效值为:
//     // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
//     transform "normal"
//
//     // 输出在所有显示器坐标空间中的位置。未明确配置位置的显示器将放置在所有已放置的显示器右侧。
//     // position x=1280 y=0
// }

// Input device configuration.
// Find the full list of options on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
    }
    mouse {
    }
    trackpoint {
    }
}

debug {
    honor-xdg-activation-with-invalid-serial
}

// Override to disable super+tab
recent-windows {
    binds {
        Alt+Tab         { next-window scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }
    }
}


xwayland-satellite {
    path "xwayland-satellite"
}

// 覆盖由niri启动的进程的环境变量
environment {

  XDG_CURRENT_DESKTOP "niri"
  STEAM_RUNTIME "1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  // ALL_PROXY "http://127.0.0.1:7897"

  // https://fcitx-im.org/wiki/Using_Fcitx_5_on_Wayland#Sway
  // QT_IM_MODULES "fcitx" // 针对微信，如果失效就老老实实改/etc/environment
  // XMODIFIERS "@im=fcitx"
  // GTK_IM_MODULE null
  // SDL_IM_MODULE null
  // GLFW_IM_MODULE null

  // https://github.com/noctalia-dev/noctalia-shell/issues/437
  // QT_QPA_PLATFORMTHEME "gtk3"
}

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.
// This line starts waybar, a commonly used bar for Wayland compositors.

// 启动niri时自动启动的软件
//// 自动启动设置
// 询问管理员权限功能（身份验证）
// spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "/usr/bin/fcitx5"
// spawn-at-startup "/usr/bin/waybar"
// spawn-at-startup "mako"
// spawn-sh-at-startup "clipse --listen"

// 壁纸swww用于overview背景，swaybg用于workspace背景
// spawn-at-startup "/usr/bin/swww-daemon"
// spawn-at-startup "swww" "img" "~/.dotfiles/niri/.config/niri/wallhaven-9dpog8.png"
// 要运行shell命令（带有变量，管道等），请使用spawn-sh-at-at-startup：
spawn-sh-at-startup "swaybg -i $HOME/Pictures/wallpaper.jpg -m fill & disown"

hotkey-overlay {
    // 跳过“重要的热键”弹出窗口。
    skip-at-startup
}

// 设置截图保存的路径，null将会禁止保存到磁盘
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// 忽略软件自带的装饰(例如标题栏)
prefer-no-csd



// 指定光标的主题和大小，打字时隐藏光标
cursor {
    // xcursor-theme "Dracula-cursors"
    xcursor-size 24
    hide-when-typing
}

// 禁用鼠标左上角热脚
gestures {
    hot-corners {
        off
    }
}



include "window.kdl"
include "layout.kdl"
include "colors.kdl"
include "binds.kdl"
