
themes {
    cyberdream {
        bg "#0B0C16"
        fg "#ddf7ff"
        black "#7b8496"
        red "#ff6e5e"
        green "#50f872"
        yellow "#f1ff5e"
        blue "#829dd4"
        magenta "#ff5ef1"
        cyan "#7cf8f7"
        white "#ddf7ff"
        orange "#ffbd5e"
    }
}
