layout {
    gaps 10

    border {
        width 2
    }

    focus-ring {
        width 2
    }

    // 存在多个窗口时，未最大化的窗口不自动居中，方便分屏
    center-focused-column "never"
    // 只有一个窗口时自动居中显示
    always-center-single-column

    // mod+r在预设之间切换的宽度。
    preset-column-widths {
        proportion 0.3
        proportion 0.5
        proportion 0.7
        // 固定设置逻辑像素的宽度精确设置。（受scale影响）
        // fixed 1920
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
      
    }
}


window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}

recent-windows {
    highlight {
        corner-radius 4
    }
}
